backcall==0.2.0
beautifulsoup4==4.9.3
brotlipy==0.7.0
bs4==0.0.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
cryptography==3.4.7
decorator==5.0.7
Flask==1.1.2
Flask-Cors==3.0.10
gunicorn==20.0.4
idna==2.10
ipython==7.16.1
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.3
lxml==4.6.3
MarkupSafe==1.1.1
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
numpy==1.19.5
pandas #@ file:///C:/ci/pandas_1608056614942/work
parso==0.8.2
pickleshare==0.7.5
plotly==4.14.3
prompt-toolkit==3.0.18
pycparser==2.20
Pygments==2.8.1
pymongo==3.11.3
pyOpenSSL==20.0.1
PySocks==1.7.1
python-dateutil  # @ file:///home/ktietz/src/ci/python-dateutil_1611928101742/work
pytz # @ file:///tmp/build/80754af9/pytz_1612215392582/work
redis==3.5.3
requests==2.25.1
retrying==1.3.3
six  # @ file:///C:/ci/six_1605187303045/work
soupsieve==2.0.1
traitlets==4.3.3
urllib3==1.26.4
wcwidth==0.2.5
Werkzeug==1.0.1
win-inet-pton==1.1.0
wincertstore==0.2
