<!-- purple x moss 2020 -->

<head>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/error.css')}}" media="screen" type="text/css" rel="stylesheet" />

</head>
<body>
  <div class="mainbox">
    <div class="err"> Error 404</div>
    <i class="far fa-question-circle fa-spin"></i>
    <div class="msg">Maybe there was some sever issue try again later or Try for different Product name.</p></div>
      </div>